@import "tailwindcss";

/* Ativa o Dark Mode manual por classe no Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Variáveis para o tema claro */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Variáveis para o tema escuro - O segredo está aqui na classe .dark */
.dark {
  --background: #0a0a0a; /* Fundo cinza muito escuro/preto */
  --foreground: #ededed; /* Texto claro */
}

/* Aplica as variáveis globalmente à tag body */
body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}